{% load i18n main %}
{% microservice_title as microservice_title %}
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">{{ microservice_title }}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li {% if selected == 'index' %}class="active"{% endif %}><a href="{% url 'index' %}">
      <i class="fa fa-home"></i> Home</a>
      </li>
      <li {% if selected == 'blog' %}class="active"{% endif %}><a href="{% url 'blog:post-list' %}">
      <i class="fa fa-book"></i> Posts</a>
      </li>
      <li {% if selected == 'contact_us' %}class="active"{% endif %}><a href="{% url 'contact_us:index' %}">
      <i class="fa fa-envelope"></i> Contact</a>
      </li>
      <li {% if selected == 'about' %}class="active"{% endif %}>
      <a href="{% url 'about:my_about' %}"></i> About</a>
      </li>

      <form class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-8" placeholder="Search...">
      </form>

    </ul>
    {% include 'includes/header_sign_status.html' %}
  </div>
  <!-- /.navbar-collapse -->

</div>
<!-- /.container -->
