{% load static i18n %}
{% if user.is_authenticated %}

<form id="logoutForm" action="{% url 'auth_app:logout' %}" method="post" >
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">
            {% if user.is_staff %}
            <a target="_blank" style="text-decoration: none" href="{% url 'admin:index' %}"> {% trans 'Hello' %} {{ user.full_name }}!</a>
            {% else %}
                Hello {{ user.full_name }}!
            {% endif %}
            <a href="{% url 'user_profile:user_profile' %}"><i class="fas fa-user-circle"></i>{% trans 'Profile' %} </a>
        </span></li>
        <li><a href="#" id="logoutSubmit">{% trans 'Log off' %}</a></li>
    </ul>
</form>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'auth_app:login' %}">{% trans 'Sign in' %}</a></li>
    <li><a href="{% url 'auth_app:sign_up' %}">{% trans 'Sign up' %}</a></li>
</ul>
{% endif %}
