{% load static %}
{% load i18n main %}
{% microservice_title as site_name %}
{% block content %}
<title>User profile</title>
{% block head %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
{% endblock head %}
<script>
  $(document).ready(function(){
    $.getScript('{% static 'user_profile/js/user-profile.js' %}');
    $.getScript('{% static 'user_profile/js/connect_chat.js' %}');
    {% block jquery %} {% endblock jquery %}
})
</script>
<br><br><br>

<style>
body{background:url(https://bootstraptema.ru/images/bg/bg-1.png)}

#main {
 background-color: #f2f2f2;
 padding: 20px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;
}
#real-estates-detail #author img {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
 border: 5px solid #ecf0f1;
 margin-bottom: 10px;
}
#real-estates-detail .sosmed-author i.fa {
 width: 30px;
 height: 30px;
 border: 2px solid #bdc3c7;
 color: #bdc3c7;
 padding-top: 6px;
 margin-top: 10px;
}
.panel-default .panel-heading {
 background-color: #fff;
}
#real-estates-detail .slides li img {
 height: 450px;
}
</style>

<div class="container">
<div id="main">


 <div class="row" id="real-estates-detail">
 <div class="col-lg-4 col-md-4 col-xs-12">
 <div class="panel panel-default">
 <div class="panel-heading">
 <header class="panel-title">
 <div class="text-center">
 <strong>Пользователь сайта <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="full_name" id="full_name" value={{ full_name }}> </strong>
 </div>
 </header>
 </div>
 <div class="panel-body">
 <div class="text-center" id="author">
 <img src="{{ image }}" width="240" height="240" id="userAvatar">
<input id="updateImageInput" data-href="{% url 'user_profile:update_image' %}" type="file" name="image" value="Обзор...">
   <a id="chat-connect" data-href="http://localhost:10000/init/" data-id="3" class="btn btn-primary">Написать сообщение</a>
 </div>
 </div>
 </div>
 </div>
 <div class="col-lg-8 col-md-8 col-xs-12">
 <div class="panel">
 <div class="panel-body">
 <ul id="myTab" class="nav nav-pills">
 <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
 <li class=""><a href="#changepswd" class="btn btn-link pull-right" data-toggle="modal" data-target="#pwdModalChange"> Смена пароля </a></li>
 <li class=""><a href="{% url 'user_profile:api_list_true_users' %}">Посмотреть список пользователей</a></li>
 </ul>
 <div id="myTabContent" class="tab-content">
<hr>
 <div class="tab-pane fade active in" id="detail">
 <h4>История профиля</h4>
 <table class="table table-th-block">
 <tbody>
  <tr><td class="active">Дата рождения:</td><td> <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="birthdate" id="birthdate" value={{ birthdate }}>
</td></tr>
 {% if gender == 0 %}
    <tr><td class="active">Пол:</td><td>  <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="gender" id="gender" value="Male">
 </td></tr>
 {% endif %}
 {% if gender == 1 %}
    <tr><td class="active">Пол:</td><td>  <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="gender" id="gender" value="Female">
 </td></tr>
 {% endif %}
 <tr><td class="active">Веб-сайт:</td><td> <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="website" id="website" value={{ website }}>
</td></tr>
 <tr><td class="active">Биография:</td><td> <input type="text" data-href="{% url 'user_profile:user_profile' %}" name="bio" id="bio" value={{ bio }}>
</td></tr>
</tbody>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
</div>

</div><!-- /.main -->
</div><!-- /.container -->
{% include 'user_profile/reset_password_email_link.html' %}
{% endblock %}
