{% load static %}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br><br>
<div class="container">
 <div class="well span8 offset2">
   {% for user in users %}
        <div class="row-fluid user-row">
            <div class="span1">
                <img class="img-circle"
                     src="{{ user.image }}"
                     alt="User Pic">
            </div>
            <div class="span10">
                <strong>{{ user.birthdate }}</strong><br>
                <a href="{% url 'user_profile:user_profile_id'  user.id %}"><strong>{{ user.full_name }}</strong></a><br>
            </div>
            <div class="span1 dropdown-user" data-for=".cyruxx">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos cyruxx">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">User information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <img class="img-circle"
                                     src="{{ user.image }}"
                                     alt="User Pic">
                            </div>
                            <div class="span6">

                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                         {% if user.gender == 0 %}
                                            <tr><td class="active">Gender:</td><td> Male </td></tr>
                                         {% endif %}
                                         {% if user.gender == 1 %}
                                            <tr><td class="active">Gender:</td><td> Female </td></tr>
                                         {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Birthday:</td>
                                        <td> {{ user.birthdate }}</td>
                                    </tr>
                                    <tr>
                                        <td>Bio:</td>
                                        <td> {{ user.bio }}</td>
                                    </tr>
                                    <tr>
                                        <td>Website:</td>
                                        <td> {{ user.website }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="send-message" data-id="{{ user.id }}" data-href="http://localhost:10000/init/">
                        <button class="btn  btn-primary" type="button"
                                data-toggle="tooltip"
                                data-original-title="Send message to user"><i class="icon-envelope icon-white"></i></button>
                        </div>
                        <span class="pull-right">
                            <button class="btn btn-warning" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Edit this user"><i class="icon-edit icon-white"></i></button>
                            <button class="btn btn-danger" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Remove this user"><i class="icon-remove icon-white"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<script>
  $(document).ready(function(){
    $.getScript('{% static 'user_profile/js/user-list.js' %}');
    {% block jquery %} {% endblock jquery %}
})
</script>
