<!--modal-->
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Reset Password?</h1>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">

                <p>If you have forgotten your password you can reset it here.</p>
                <div class="panel-body">
                  <fieldset>
                    <form id="forgotPasswordForm" role="form" action="{% url 'auth_app:api_forgot_password' %}" method="post">
                      {% csrf_token %}
                      <div id="emailForgotGroup" class="form-group">
                        <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email" required>
                      </div>
                      <input href="#" class="btn btn-lg btn-success btn-block" value="Reset password" type="submit">
                    </form>
                  </fieldset>
                  <div id="successPassReset" data-href="{% url 'auth_app:reset_email_sent' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'auth_app/includes/forgot_password_modal_success.html' %}
