{% load static %}
{% load i18n main %}
{% microservice_title as site_name %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>
  $(document).ready(function(){
    $.getScript('{% static 'user_profile/js/password_confirmation.js' %}');
    {% block jquery %} {% endblock jquery %}
})
</script>
<!--modal-->
<div id="pwdModalChange" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Reset Password?</h1>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">

                <p>If you have forgotten your password you can reset it here.</p>
                <div class="panel-body">
                  <fieldset>
                    <form method="post" id="passwordForm" action="{% url 'user_profile:password_change' %}">
                      {% csrf_token %}
                      <div id="emailForgotGroup" class="form-group">
                        {% csrf_token %}
                          <p>Enter your old password here</p>
                        <input type="password" class="input-lg form-control" name="old_password" id="old_password" placeholder="Old Password" autocomplete="off">
                          <br>
                          <p>Enter your new password and password confirmation here</p>
                        <input type="password" class="input-lg form-control" name="new_password1" id="new_password1" placeholder="New Password" autocomplete="off">
                        <div class="row">
                        <div class="col-sm-6">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                        </div>
                        <div class="col-sm-6">
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                        </div>
                        </div>
                        <input type="password" class="input-lg form-control" name="new_password2" id="new_password2" placeholder="Repeat Password" autocomplete="off">
                        <div class="row">
                        <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                        </div>
                        </div>
                        <input type="submit" id="submitPasswdInput" data-href="{% url 'auth_app:logout' %}" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
                      </div>
                    </form>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
