{% extends 'auth_app/base.html'%}
{% load static %}

{% block head %}
<link href="{% static 'auth_app/css/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
{% include 'auth_app/includes/prevent_access.html' %}

<div class="row" style="margin-top:20px">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form id="loginForm" role="form" action="{% url 'auth_app:api_login' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <h2>Please Sign In</h2>
        <hr class="colorgraph">
        <div id="emailGroup" class="form-group">
          <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
        </div>
        <div id="passwordGroup" class="form-group">
          <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
        </div>
        <span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a href="#" class="btn btn-link pull-right" data-toggle="modal" data-target="#pwdModal">Forgot Password?</a>
				</span>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'auth_app:sign_up' %}" class="btn btn-lg btn-primary btn-block">Register</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% include 'auth_app/includes/forgot_password_modal.html' %}
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'auth_app/js/login.js' %}');
{% endblock %}
