{% extends "blog/base.html" %}
{% load static main %}
{% block title %}Blog Post{% endblock title%}

{% block container %}

<div class="row">
  <div class="col-lg-8">
    {% for article in results %}
    <div class="row">
      <div class="col-md-12 post">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <strong>
                <a href="{{ article.url }}" class="post-title">{{ article.title }}</a>
              </strong>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 post-header-line">
            <span class="glyphicon glyphicon-user"></span>by <a href="#">{{ article.author.full_name }}</a> |
            <span class="glyphicon glyphicon-calendar"></span> {{ article.updated | date_time }} |
            <span class="glyphicon glyphicon-comment"></span><a href="#">{{ article.comments_count }} Comments</a> |
            <i class="icon-share"></i><a href="#">39 Shares</a> |
            <span class="glyphicon glyphicon-tags"></span> Tags: <a href="#">
            <span class="label label-info">Snipp</span></a> <a href="#">
            <span class="label label-info">Bootstrap</span></a> <a href="#">
            <span class="label label-info">UI</span></a> <a href="#">
            <span class="label label-info">growth</span></a>
          </div>
        </div>
        <div class="row post-content">
          <div class="col-md-3">
            <a href="#">
              <img
                src="http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png"
                alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
              Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
              conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p>
              <a class="btn btn-read-more" href="{{ article.url }}">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% include 'rest_framework/pagination/numbers.html' %}
  </div>
  {% include 'blog/includes/right_sidebar.html' %}
</div>
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'blog/js/list.js' %}');
{% endblock %}
